.btn {
    background-color: #cecece;
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

.primary {
    background-color: rgb(81, 98, 248);
}